
#nextFloor {
	position: absolute;
	right: 0px;
	padding: 30px;

	font-size: 40px;

	background-color: red;
	color: white;
	display: none;
}
#nextFloor {
	cursor: pointer;
}

#previousFloor {
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 30px;
	
	font-size: 40px;	

	background-color: lightgrey;
}
#previousFloor:hover {
	cursor: pointer;
}
#userHp {
	position: absolute;
	width: 400px;
	height: 20px;
	background-color: lightgrey;

	margin-left: 750px;
	margin-top: 750px;
}
#userHp h1 {
	color: white;
}

#userCurrentHp {
	height: 20px;
	width: 100%;
	background-color: red;
}


#userMana {
	position: absolute;
	width: 400px;
	height: 20px;
	background-color: lightgrey;

	margin-left: 750px;
	margin-top: 780px;	
}
#userCurrentMana {
	width: 100%;
	height: 20px;
	background-color: blue;
}
#userCurrentMana h1 {
	color: white;
}

#bossHp {
	position: absolute;
	width: 400px;
	height: 20px;
	background-color: lightgrey;

	margin-left: 750px;
	margin-top: 20px;	
}
#bossCurrentHp {
	width: 100%;
	height: 20px;
	background-color: red;
}
#bossCurrentHp h1 {
	color: white;
}

#bossPic {
	position: absolute;
	width: 400px;
	height: 600px;

	margin-left: 750px;
	margin-top: 50px;
}
#bossPic img {
	width: 400px;
	height: 600px;
}

#bossName {
	width: 400px;
	height: 30px;
	margin-left: 750px;
	margin-top: 10px;	
}
#bossName h1 {
	font-size: 25px;
	text-align: center;
}

#victory {
	position: absolute;
	font-size: 25px;
	width: 400px;

	margin-left: 750px;
	margin-top: 250px;
}

#victoryMess {
	text-align: center;
	display: none;
}
#confirm {
	margin-top:30px;
	text-align: center;
	display: none;
}
#confirm:hover {
	cursor: pointer;
	color: red;
}

#system {
	position: absolute;
	font-size: 15px;
	width: 400px;
	height: 200px;
	border: 1px solid black;

	margin-left: 100px;
	margin-top: 450px;

}
#systemWindow {
	text-align: center;
	font-size: 23px;
	color: green;
}
#tips {
	padding: 10px;
}

#exp {
	padding: 10px;
	display: none;
}
#conMess{
	margin-top: 10px;
	padding: 10px;
	display: none;
}
#f5Mess {
	padding: 10px;
	display: none;
}
#nfMess {
	padding: 10px;
	display: none;
}

#defeat {
	position: absolute;
	margin-left: 70px;
	margin-top: 70px;
	font-size: 70px;
	color: red;
	display: none;
}

/*Char open box*/

#character {
	position: absolute;
	padding: 30px;
	right: 150px;
	bottom: 0px;

	font-size: 25px;
	background-color: lightgrey;
	
}
#character:hover {
	cursor: pointer;
	color: white;
	background-color: grey;
}


/*Char close Box*/

#characterClose {
	position: absolute;
	padding: 30px;
	right: 150px;
	bottom: 0px;

	font-size: 25px;
	background-color: red;	
	color: white;
	display: none;
}
#characterClose:hover {
	cursor: pointer;
	color: white;
	background-color: black
}

/*character stats*/
#characterStats {
	position: absolute;
	width: 400px;
	height: 700px;

	background-color: lightgrey;
	margin-top: 50px;
	right: 20px;

	display: none;
}

#userStats {
	font-family: consolas;
	position: absolute;
	margin-top: 330px;
	font-size: 25px;
	padding: 15px;
}

#levelUpBonus {
	font-family: consolas;
	position: absolute;
	margin-top: 470px;
	font-size: 25px;
	padding: 15px;	
}

#myName {
	text-align: center;
	font-size: 30px;
}
#myLevel {
	text-align: center;
	font-size: 30px;
}

#StrUp {
	position: absolute;
	margin-left: 140px;
	font-weight: bold;
}
#StrUp:hover {
	cursor: pointer;
	color: red;
}

#IntUp{
	position: absolute;
	margin-left: 140px;
	font-weight: bold;
}
#IntUp:hover {
	cursor: pointer;
	color: red;
}

#VitUp{
	position: absolute;
	margin-left: 140px;
	font-weight: bold;
}
#VitUp:hover {
	cursor: pointer;
	color: red;
}

#AgiUp {
	position: absolute;
	margin-left: 140px;
	font-weight: bold;
}
#AgiUp:hover {
	cursor: pointer;
	color: red;
}

#ObsUp{
	position: absolute;
	margin-left: 140px;
	font-weight: bold;
}
#ObsUp:hover {
	cursor: pointer;
	color: red;
}

/*boss weakness*/
#bossWeakness {
	position: absolute;
	width: 45px;
	height: 75px;
	//border: 1px solid red;

	margin-left: 170px;
	margin-top: 90px;
	z-index: 999;
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  	#nextFloor {
		top: 0px;
		right: 0px;
		padding: 10px;
		font-size: 25px;
	}

  	#previousFloor {
  		bottom: 0px;
		left: 0px;
  		padding: 10px;
  		font-size: 25px;
  	}
	
	#bossName {
		margin-left: 480px;
		margin-top: 50px;
		width: 320px;
	}
	#bossHp {
		margin-left: 480px;
		width: 320px;
	}
	#bossPic {
		margin-left: 480px;
		width: 320px;
		height: 500px;
	}
	#bossPic img {
		width: 320px;
		height: 500px;
	}
	
	#victory {
		width: 320px;
		margin-left: 480px;
	}
	#defeat {
		margin-left: 30px;
	}
	#userHp {
		margin-left: 480px;
		width: 320px;
		margin-top: 660px;
	}
	#userMana {
		margin-left: 480px;
		width: 320px;
		margin-top: 685px;		
	}

	#character {
		right: 0px;
		font-size: 25px;
		padding: 10px;
	}
	#characterClose{
		right: 0px;
		font-size: 25px;
		padding: 10px;
	}
	
	#characterStats {
		width: 340px;
		height: 500px;
		left: 210px;
	}
	#userStats {
		margin-top: 50px;
	}
	#levelUpBonus{
		margin-top: 190px;
	}

	#system{
		position: absolute;
		margin-top: 485px;
		width: 320px;
		height: 220px;
		margin-left: 80px;
	}
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
 	#nextFloor {
		top: 0px;
		right: 0px;
		padding: 10px;
		font-size: 20px;
	}

  	#previousFloor {
  		bottom: 0px;
		left: 0px;
  		padding: 10px;
  		font-size: 20px;
  	}
	
	#bossName {
		margin-left: 220px;
		margin-top: 50px;
		width: 320px;
	}
	#bossHp {
		margin-left: 220px;
		width: 320px;
	}
	#bossPic {
		margin-left: 220px;
		width: 320px;
		height: 500px;
	}
	#bossPic img {
		width: 320px;
		height: 500px;
	}
	
	#victory {
		width: 320px;
		margin-left: 220px;
	}
	#defeat {
		margin-left: 30px;
	}
	#userHp {
		margin-left: 220px;
		width: 320px;
		margin-top: 560px;
	}
	#userMana {
		margin-left: 220px;
		width: 320px;
		margin-top: 585px;		
	}

	#character {
		right: 0px;
		font-size: 20px;
		padding: 10px;
	}
	#characterClose{
		right: 0px;
		font-size: 25px;
		padding: 10px;
	}
	
	#characterStats {
		width: 340px;
		height: 500px;
		left: 210px;
	}
	#userStats {
		margin-top: 50px;
	}
	#levelUpBonus{
		margin-top: 190px;
	}

	#system{
		position: absolute;
		margin-top: 700px;
		width: 320px;
		height: 220px;
		margin-left: 220px;
	}
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  	  
 	#nextFloor {
		top: 0px;
		right: 0px;
		padding: 10px;
		font-size: 20px;
	}

  	#previousFloor {
  		bottom: 0px;
		left: 0px;
  		padding: 10px;
  		font-size: 20px;
  	}
	
	#bossName {
		margin-left: 360px;
		margin-top: 50px;
		width: 320px;
	}
	#bossHp {
		margin-left: 360px;
		width: 320px;
	}
	#bossPic {
		margin-left: 360px;
		width: 320px;
		height: 500px;
	}
	#bossPic img {
		width: 320px;
		height: 500px;
	}
	
	#victory {
		width: 320px;
		margin-left: 360px;
	}
	#defeat {
		margin-left: 30px;
	}
	#userHp {
		margin-left: 360px;
		width: 320px;
		margin-top: 560px;
	}
	#userMana {
		margin-left: 360px;
		width: 320px;
		margin-top: 585px;		
	}

	#character {
		right: 0px;
		font-size: 20px;
		padding: 10px;
	}
	#characterClose{
		right: 0px;
		font-size: 20px;
		padding: 10px;
	}
	
	#characterStats {
		width: 300px;
		height: 500px;
		left: 710px;
	}
	#userStats {
		margin-top: 50px;
	}
	#levelUpBonus{
		margin-top: 190px;
	}

  	#system{
		display: none;
	}
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  	#nextFloor {
		top: 0px;
		right: 0px;
		padding: 10px;
		font-size: 20px;
	}

  	#previousFloor {
  		bottom: 0px;
		left: 0px;
  		padding: 10px;
  		font-size: 20px;
  	}
	
	#bossName {
		margin-left: 220px;
		margin-top: 50px;
		width: 320px;
	}
	#bossHp {
		margin-left: 220px;
		width: 320px;
	}
	#bossPic {
		margin-left: 220px;
		width: 320px;
		height: 500px;
	}
	#bossPic img {
		width: 320px;
		height: 500px;
	}
	
	#victory {
		width: 320px;
		margin-left: 220px;
	}
	#defeat {
		margin-left: 30px;
	}
	#userHp {
		margin-left: 220px;
		width: 320px;
		margin-top: 560px;
	}
	#userMana {
		margin-left: 220px;
		width: 320px;
		margin-top: 585px;		
	}

	#character {
		right: 0px;
		font-size: 20px;
		padding: 10px;
	}
	#characterClose{
		right: 0px;
		font-size: 25px;
		padding: 10px;
	}
	
	#characterStats {
		width: 300px;
		height: 500px;
		left: 30px;
	}
	#userStats {
		margin-top: 50px;
	}
	#levelUpBonus{
		margin-top: 190px;
	}

	#system{
		display: none;
	}

	
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	#nextFloor {
		top: 0px;
		right: 0px;
		padding: 10px;
		font-size: 20px;
	}

  	#previousFloor {
  		bottom: 0px;
		left: 0px;
  		padding: 10px;
  		font-size: 20px;
  	}
	
	#bossName {
		margin-left: 30px;
		margin-top: 50px;
		width: 300px;
	}
	#bossHp {
		margin-left: 30px;
		width: 300px;
	}
	#bossPic {
		margin-left: 30px;
		width: 300px;
		height: 500px;
	}
	#bossPic img {
		width: 300px;
		height: 500px;
	}
	
	#victory {
		width: 300px;
		margin-left: 30px;
	}

	#userHp {
		margin-left: 30px;
		width: 300px;
		margin-top: 560px;
	}
	#userMana {
		margin-left: 30px;
		width: 300px;
		margin-top: 585px;		
	}

	#character {
		right: 0px;
		font-size: 20px;
		padding: 10px;
	}
	#characterClose{
		right: 0px;
		font-size: 25px;
		padding: 10px;
	}
	
	#characterStats {
		width: 300px;
		height: 500px;
		left: 30px;
	}
	#userStats {
		margin-top: 50px;
	}
	#levelUpBonus{
		margin-top: 190px;
	}

	#system{
		display: none;
	}

}