body {
	font-family: sans-serif;
	background-color: lightgrey;
}

#register {
	width: 350px;
	height: 500px;
	background-color: white;
	margin-left: 750px;
	margin-top: 150px;
}

#welcomeMessage {
	font-size: 40px;
	margin-bottom: 50px;
	padding-top: 30px;
	text-align: center;
}

.labelName {
	font-size: 25px;
	margin-left: 140px;

}
#name {
	margin-top: 20px;
	font-size: 25px;
	margin-left: 40px;
	text-align: center;
	width: 250px;
}

#gender {
	font-size: 30px;
	margin-top: 40px;
	text-align: center;
}

#male {
	float: left;
	width: 70px;
	height: 70px;
	background-color: lightgrey;
	font-size: 35px;

	margin-left: 70px;
	margin-top: 30px;
}
#male-icon {
	margin-left: 23px;
	margin-top: 15px;
}

#female {
	float: right;
	width: 70px;
	height: 70px;
	background-color: lightgrey;
	font-size: 35px;
	
	margin-right: 70px;
	margin-top: 30px;
}
#female-icon {
	margin-left: 23px;
	margin-top: 15px;	
}

#clearBoth {
	clear:both;
}

#enterWorld {
	font-size: 30px;
	margin-top: 50px;
	margin-left: 65px;
	
	width: 220px;
	height: 50px;
	background-color: red;
	color: white;
}
.enterWorldText {
	position: absolute;
	margin-left: 7px;
	margin-top: 7px;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  	#register {
		width: 350px;
		height: 500px;
		background-color: white;
		margin-left: 480px;
		margin-top: 70px;
	}
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  	#register {
		width: 350px;
		height: 500px;
		background-color: white;
		margin-left: 210px;
		margin-top: 120px;
	}
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  	#register {
		width: 350px;
		height: 500px;
		background-color: white;
		margin-left: 350px;
		margin-top: 70px;
	}

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
 	#register {
		width: 350px;
		height: 500px;
		background-color: white;
		margin-left: 200px;
		margin-top: 70px;
	}

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
 	#register {
		width: 350px;
		height: 500px;
		background-color: white;
		margin-left: 5px;
		margin-top: 70px;
	}

}
